In [129]:
import pandas as pd
import numpy as np

In [6]:
books = pd.read_csv('BX-Books.csv', encoding='latin-1', error_bad_lines=False, sep=';')

C:\Users\ABHINAV\AppData\Local\Temp\ipykernel_38704\2055327727.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  books = pd.read_csv('BX-Books.csv', encoding='latin-1', error_bad_lines=False, sep=';')
b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
C:\Users\ABHINAV\AppData\Local\Temp\ipykernel_38704\2055327727.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('BX-Books.csv', encoding='latin-1', error_bad_lines=False, sep=';')

In [32]:
books.head()

,ISBN,title,author,publication,publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

In [9]:
books = books[['ISBN','Book-Title','Book-Author','Year-Of-Publication','Publisher']]

In [16]:
books.rename(columns={'Book-Title':'title','Book-Author':'author','Year-Of-Publication':'publication','Publisher':'publisher'},inplace=True)

C:\Users\ABHINAV\AppData\Local\Temp\ipykernel_38704\1920350533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  books.rename(columns={'Book-Title':'title','Book-Author':'author','Year-Of-Publication':'publication','Publisher':'publisher'},inplace=True)

In [17]:
users = pd.read_csv('BX-Users.csv', encoding='latin-1', error_bad_lines=False, sep=';')

C:\Users\ABHINAV\AppData\Local\Temp\ipykernel_38704\206223765.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  users = pd.read_csv('BX-Users.csv', encoding='latin-1', error_bad_lines=False, sep=';')

In [18]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [19]:
books.rename(columns={'User-ID':'user_id','Location':'location','Age':'age'},inplace=True)

C:\Users\ABHINAV\AppData\Local\Temp\ipykernel_38704\823363391.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  books.rename(columns={'User-ID':'user_id','Location':'location','Age':'age'},inplace=True)

In [51]:
ratings = pd.read_csv('BX-Book-Ratings.csv', encoding='latin-1', error_bad_lines=False, sep=';')

C:\Users\ABHINAV\AppData\Local\Temp\ipykernel_38704\2201360718.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  ratings = pd.read_csv('BX-Book-Ratings.csv', encoding='latin-1', error_bad_lines=False, sep=';')

In [52]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [53]:
ratings.rename(columns={'User-ID':'user_id','Book-Rating':'Ratings'},inplace=True)

In [54]:
books.shape

(271360, 5)

In [55]:
users.shape

(278858, 3)

In [56]:
ratings.shape

(1149780, 3)

In [72]:
x = ratings['user_id'].value_counts()>150

In [73]:
y = x[x].index

In [75]:
ratings = ratings[ratings['user_id'].isin(y)]

In [87]:
book_rate = pd.merge(books,ratings,on='ISBN')

In [88]:
book_rate.head()

,ISBN,title,author,publication,publisher,user_id,Ratings
0,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,11676,8
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,85526,0
2,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,96054,0
3,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,177458,0
4,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,263325,6

In [94]:
no_rate = book_rate.groupby('title')['Ratings'].count().reset_index()

In [98]:
no_rate.rename(columns={'Ratings':'number_of_ratings'},inplace=True)

In [103]:
no_rate = no_rate[no_rate['number_of_ratings']>50]

In [104]:
final = pd.merge(book_rate,no_rate,on='title')

In [105]:
final.head()

,ISBN,title,author,publication,publisher,user_id,Ratings,number_of_ratings
0,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,11676,9,135
1,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,36836,0,135
2,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,46398,9,135
3,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,113270,0,135
4,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,113519,0,135

In [112]:
final.shape

(74105, 8)

In [111]:
final.drop_duplicates(['title','user_id'],inplace=True)

In [135]:
final.to_csv('final.csv')

In [117]:
book_pivot = final.pivot_table(columns='user_id',index='title',values='number_of_ratings',fill_value=0)

In [118]:
book_pivot

user_id,254,1733,1903,2033,2110,2276,2766,2891,2977,3363,...,274308,274808,275970,276018,276680,277427,277478,277639,278188,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,91,0,0,0,0,0,0,0,0,0,...,0,0,91,0,0,0,0,0,0,0
1st to Die: A Novel,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2nd Chance,0,0,0,0,0,146,0,0,0,0,...,146,0,0,0,0,0,0,146,0,0
4 Blondes,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
84 Charing Cross Road,0,0,0,0,0,0,0,0,0,0,...,0,0,60,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0,0,0,0,0,0,0,0,69,0,...,0,0,69,0,0,0,0,0,0,0
You Belong To Me,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0,0,0,0,0,0,0,0,0,73,...,0,0,73,0,0,0,0,0,0,0
Zoya,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"\O\"" Is for Outlaw""",0,0,0,116,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [119]:
book_pivot.shape

(858, 1206)

In [125]:
from scipy.sparse import csr_matrix
book_sparse = csr_matrix(book_pivot)

In [126]:
from sklearn.neighbors import NearestNeighbors

model = NearestNeighbors(algorithm = 'brute')
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [130]:
np.where(book_pivot.index=='Animal Farm')[0][0]

60

In [136]:
books=[]
def book_recomend(book):
    book_id = np.where(book_pivot.index==book)[0][0]
    distances, suggestions = model.kneighbors(book_pivot.iloc[book_id,:].values.reshape(1,-1), n_neighbors=6)
    for i in range(len(suggestions)):
        books.append(book_pivot.index[suggestions[i]])
    return books

In [137]:
abc = book_recomend('Animal Farm')

In [139]:
for items in abc:
    print(items)

Index(['Animal Farm', 'An Instance of the Fingerpost',
       'Jonathan Livingston Seagull', 'Siddhartha', 'Jacob Have I Loved',
       'Slaughterhouse Five or the Children's Crusade: A Duty Dance With Death'],
      dtype='object', name='title')